<header class="relative z-50 w-full h-24">
    <div class="container flex items-center justify-center h-full max-w-6xl px-8 mx-auto sm:justify-between xl:px-0">
        <a href="/" class="relative flex items-center inline-block h-5 h-full font-black leading-none">
            <span class="ml-3 text-xl text-gray-800">VoteChain APP<span class="text-pink-500">.</span></span>
        </a>

        <div
            class="absolute left-0 flex-col items-center justify-center hidden w-full pb-8 mt-48 border-b border-gray-200 md:relative md:w-auto md:bg-transparent md:border-none md:mt-0 md:flex-row md:p-0 md:items-end lg:flex md:justify-between">
            <svg class="absolute d-none top-0 left-0 hidden w-screen max-w-3xl -mt-64 -ml-12 lg:block"
                viewBox="0 0 818 815" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="c">
                        <stop stop-color="#E614F2" offset="0%" />
                        <stop stop-color="#FC3832" offset="100%" />
                    </linearGradient>
                    <linearGradient x1="0%" y1="0%" x2="100%" y2="100%" id="f">
                        <stop stop-color="#E614F2" offset="0%" />
                        <stop stop-color="#FC3832" offset="100%" />
                    </linearGradient>
                    <filter x="-4.7%" y="-3.3%" width="109.3%" height="109.3%" filterUnits="objectBoundingBox" id="a">
                        <feOffset dy="8" in="SourceAlpha" result="shadowOffsetOuter1" />
                        <feGaussianBlur stdDeviation="8" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" in="shadowBlurOuter1" />
                    </filter>
                    <filter x="-4.7%" y="-3.3%" width="109.3%" height="109.3%" filterUnits="objectBoundingBox" id="d">
                        <feOffset dy="8" in="SourceAlpha" result="shadowOffsetOuter1" />
                        <feGaussianBlur stdDeviation="8" in="shadowOffsetOuter1" result="shadowBlurOuter1" />
                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0" in="shadowBlurOuter1" />
                    </filter>
                    <path
                        d="M160.52 108.243h497.445c17.83 0 24.296 1.856 30.814 5.342 6.519 3.486 11.635 8.602 15.12 15.12 3.487 6.52 5.344 12.985 5.344 30.815v497.445c0 17.83-1.857 24.296-5.343 30.814-3.486 6.519-8.602 11.635-15.12 15.12-6.52 3.487-12.985 5.344-30.815 5.344H160.52c-17.83 0-24.296-1.857-30.814-5.343-6.519-3.486-11.635-8.602-15.12-15.12-3.487-6.52-5.343-12.985-5.343-30.815V159.52c0-17.83 1.856-24.296 5.342-30.814 3.486-6.519 8.602-11.635 15.12-15.12 6.52-3.487 12.985-5.343 30.815-5.343z"
                        id="b" />
                    <path
                        d="M159.107 107.829H656.55c17.83 0 24.296 1.856 30.815 5.342 6.518 3.487 11.634 8.602 15.12 15.12 3.486 6.52 5.343 12.985 5.343 30.816V656.55c0 17.83-1.857 24.296-5.343 30.815-3.486 6.518-8.602 11.634-15.12 15.12-6.519 3.486-12.985 5.343-30.815 5.343H159.107c-17.83 0-24.297-1.857-30.815-5.343-6.519-3.486-11.634-8.602-15.12-15.12-3.487-6.519-5.343-12.985-5.343-30.815V159.107c0-17.83 1.856-24.297 5.342-30.815 3.487-6.519 8.602-11.634 15.12-15.12 6.52-3.487 12.985-5.343 30.816-5.343z"
                        id="e" />
                </defs>
                <g fill="none" fill-rule="evenodd" opacity=".9">
                    <g transform="rotate(65 416.452 409.167)">
                        <use fill="#000" filter="url(#a)" xlink:href="#b" />
                        <use fill="url(#c)" xlink:href="#b" />
                    </g>
                    <g transform="rotate(29 421.929 414.496)">
                        <use fill="#000" filter="url(#d)" xlink:href="#e" />
                        <use fill="url(#f)" xlink:href="#e" />
                    </g>
                </g>
            </svg>
        </div>

        <div id="nav-mobile-btn"
            class="absolute top-0 right-0 z-50 block w-6 mt-8 mr-10 cursor-pointer select-none md:hidden sm:mt-10">
            <span class="block w-full h-1 mt-2 duration-200 transform bg-gray-800 rounded-full sm:mt-1"></span>
            <span class="block w-full h-1 mt-1 duration-200 transform bg-gray-800 rounded-full"></span>
        </div>
    </div>
</header>



<div class="relative px-8 py-10 bg-white border-t border-gray-200 md:py-16 lg:py-24 xl:py-40 xl:px-0">
    <div id="pricing" class="container flex flex-col items-center h-full max-w-6xl mx-auto">
        <h2 class="my-5 text-base font-medium tracking-tight text-indigo-500 uppercase">
            id: {{idVotacion}}
        </h2>
        <h4
            class="w-full max-w-2xl px-5 px-8 mt-2 mb-4 text-xl font-black leading-tight text-center text-gray-900 sm:mt-0 sm:px-0 sm:text-4xl md:px-0">
            Voting of the consortium with id: <span>{{ownerId}}</span>
        </h4>

        <div class="flex flex-row mt-10 justify-center">

            <div class="flex flex-col justify-between content-center relative pb-10 z-10 w-full max-w-md my-8 bg-white rounded-lg shadow-lg lg:w-1/3 sm:my-5">
                <div
                    class="py-4 text-sm font-semibold leading-none tracking-wide text-center text-white uppercase bg-indigo-500 rounded-t">
                    {{subject}}
                </div>
                <div class="block max-w-sm px-8 mx-auto mt-5 text-sm text-left text-black sm:text-md lg:px-6">
                    <h3 class="p-3 pb-1 text-lg font-bold tracking-wide text-center uppercase">
                         {{details}}
                    </h3>

                    <p class="text-sm text-gray-600 mt-4 text-center">
                        Details
                    </p>
                </div>
                                                        <a href="/consorcio/{{ownerId}}/votacion/{{idVotacion}}"
                                            class="  w-[80%] px-6 py-2 mt-3 text-lg font-semibold text-center text-white bg-green-400 rounded shadow-sm hover:bg-green-300">RESULTS</a>
                {{!-- <div class="flex justify-start pl-12 mt-8 sm:justify-start">
                    <ul>
                        <li class="flex items-center">
                            <div class="p-2 text-green-500 rounded-full fill-current">
                                <svg class="w-6 h-6 align-middle" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                                </svg>
                            </div>
                            <span class="ml-3 text-lg text-gray-700">...</span>
                        </li>

                        <li class="flex items-center">
                            <div class="p-2 text-green-500 rounded-full fill-current">
                                <svg class="w-6 h-6 align-middle" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                                </svg>
                            </div>
                            <span class="ml-3 text-lg text-gray-700">...</span>
                        </li>

                        <li class="flex items-center">
                            <div class="p-2 text-green-500 rounded-full fill-current">
                                <svg class="w-6 h-6 align-middle" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                    <polyline points="22 4 12 14.01 9 11.01"></polyline>
                                </svg>
                            </div>
                            <span class="ml-3 text-lg text-gray-700">...</span>
                        </li>

                    </ul>
                </div> --}}

            </div>





            <div class="max-w-full mx-auto md:max-w-6xl sm:px-8">

                <div class="">
                    <div class="">
                        <div class="overflow-hidden text-black bg-white border-t border-gray-100 rounded-lg shadow-sm">

                            
                            {{#each options}}
                            <form id="vote" action="/consorcista/{{../ownerId}}/votacion/{{../idVotacion}}/{{../idConsorcista}}/vote"
                                method="POST">
                                <div
                                    class="relative z-10 border border-gray-300 w-full max-w-xl my-8 bg-white rounded-lg shadow-lg lg:w-96 sm:my-5">
                                    <div
                                        class="block max-w-sm px-8 mx-auto mt-4 text-sm text-left text-black sm:text-md lg:px-6">
                                        <h4
                                            class="flex items-center justify-center pb-2 text-3xl font-bold text-center text-gray-900">
                                            <span class="mr-1 -ml-2 text-lg text-gray-700">*</span>{{this.title}}
                                        </h4>
                                        
                                        <p class="text-sm text-gray-600 text-center">
                                            {{this.info}}
                                        </p>
                                    </div>

                                    <div class="flex flex-row flex-wrap gap-2 pt-2 justify-center items-center block p-8 uppercase">
                                        <input type="number" step="10" min="10" max="{{../this.saldo}}" name="{{this.option}}" id="vote"
                                            class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-20 shadow-sm sm:text-lg border border-gray-300 rounded-md h-12" />
                                        <button type="submit"
                                            class="block w-auto px-6 py-2 mt-3 text-lg font-semibold text-center text-white bg-green-400 rounded shadow-sm hover:bg-green-300">VOTE</button>
                                    </div>
                                </div>
                            </form>
                            {{/each}}

                        </div>


                        <h4 class="pb-3 text-lg font-ligth tracking-wide text-center text-gray-600 uppercase mt-2">
                            Consortium member balance {{depto}}: <strong>{{this.saldo}}</strong> votes capability
                        </h4>

                    </div>
                </div>
            </div>
        </div>

        <div>
        <p class="text-red-500">*the following buttons are displayed for practical reasons, users will not have access to the key pairs, and each user will have access only to his or her account</p>
        {{#each consorcistas}}
        <div class="my-2">
            <a href="/consorcista/{{this.id}}/votacion/{{../idVotacion}}" class="border border-1 p-2 bg-gray-400 my-2" >Vote as {{this.depto}}</a>
            <p class="my-4">Public key to checkout balance: {{this.account.publicKey}}</p>
        </div>

        {{/each}}
        </div>

    </div>


</div>

